p {
  text-align: center;
  font-size: 30px;
}

.field1 {
  float: left;
  margin-top: 250px;
  position: relative;
  text-align: center;
}

.field2 {
  float: right;
  margin-top: 250px;
  position: relative;
  text-align: center;
}

@media screen and (max-width: 600px) {
   input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
