<p>Welcome</p>
<div class="container" style="height: 80vh;">
  <form action="/xml" method="post">
    <textarea rows="4" cols="50" name="xml" placeholder="XML file to convert to rails models"></textarea>
    <br>
    <input type="submit">
  </form>

  <br>

  <form action="/schema" method="post">
    <textarea rows="4" cols="50" name="schema" placeholder="Convert rails schema to XML"></textarea>
    <br>
    <input type="submit">
  </form>
</div>
